<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

  <title>Sanad</title>
  
  
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-mb-5 " style="background-color: #5c340029; height: 65px;">
        <div class="container-fluid">
          <img class="rounded-circle p-2"  width="120px" src="" />
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" routerLink="" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
              </li>
            
            </ul>
            
            <li class="nav-item dropdown d-flex p-2 justify-content-center" style="color: white;">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome Reef 
              </a> 
              <ul class="dropdown-menu">
            
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">LogOut</a></li>
                <li><a class="dropdown-item" href="#">Sign Up</a></li>

              </ul>
            </li>
          </div>
        </div>
      </nav>
  

    <div>
        <router-outlet></router-outlet>
    </div>


  
    <footer style="background-color: rgba(214, 184, 145, 0.382);">
        <div class="row p-3">
            <div class="col-12 col-md">
            <img class="mb-2" src="assets\image\logoSanad-rv.png" alt="" width="300" height="200">
            <small class="d-block mb-3 text-body-secondary">© 2017–2023</small>
            </div>
            <div class="col-6 col-md">
            <h5>Connect us</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Email</a></li>
                <li class="mb-1"><a  class="link-secondary text-decoration-none" href="#">Phone</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
            </ul>
            </div>
            <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
            </ul>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    
</body>

</html>
